<h1> Log in below: </h1>

<%= form_for @salesrep, :url => {:controller => 'sessions', :action => 'create'} do  %>

<%= f.label "Please enter valid email address:" %>
<br>
<%= f.email_field :email %>
<br>

<%= f.label "Please enter a password"%>
<br>
<%= f.password_field :password %>
<br>


<%= f.label "Please re-enter a password"%>
<br>
<%= f.password_field :password_confirmation %>
<br>



<%=f.submit "Log me in" %>

<% end %>