<h1> List of leads </h1>
<% @leads.each do |lead| %>
<ul style="list-style-position:inside; border-style: solid; border-width: 4px; border-radius: 15px; width: 300px; height: 450px; padding: 10px;" >
    <h4>
         <li>Name:</li> 
    </h4>
    <%= lead.name %> 
    <br><br>

    <h4>
        <li>Email:</li>
      </h4>
      <%= lead.email %>
     <br><br>

    <h4>
        <li> Phone number:</li>
        </h4>
        <%= lead.phone_number %>
      <br><br>

        <h4>
        <li> Customer? </li>
        </h4>
        <% if lead.customer == true %>
        yes 
        <% else %>
        no 
        <% end %>
       <br><br>

       <%= link_to "Edit lead", edit_lead_path(lead) %>
      <br><br>
      <%= link_to "Delete lead", lead_path(lead), method: :delete, data: { confirm: "Really?" }%>
      <br><br>


</ul>
<br><br>
<% end %>   