<h1> Organization Information </h1>

<h4>Company name </h4> 
<%= @organization.name %>
 
<br><br>

<h4> Amount of revenue</h4>
 <%= @organization.revenue %> 
<br><br>

<h4> Country </h4>
<%= @organization.country %>
<br><br>

<h4> City </h4>
<%= @organization.city %> 
<br><br>

<h4> State </h4>
<%= @organization.state %> 
<br><br>

<h4> Address </h4>
<%= @organization.address %>
<br><br>

<h4> Customer? </h4>
<%= @organization.customer %> 
<br><br>


<h4>No longer associated? </h4><%= link_to "Delete Org", organization_path(@organization), method: :delete, data: { confirm: "Really?" }%>
<br><br>
<h4>Made a mistake? </h4><%= link_to "Edit Org", edit_organization_path(@organization)%>

