<h1> Organization Information </h1>

<h4>Company name </h4> 
<%= @organization.name %>
 
<br><br>

<h4> Amount of revenue</h4>
 <%= @organization.revenue %> 
<br><br>

<h4> Country </h4>
<%= @organization.country %>
<br><br>

<h4> City </h4>
<%= @organization.city %> 
<br><br>

<h4> State </h4>
<%= @organization.state %> 
<br><br>

<h4> Address </h4>
<%= @organization.address %>
<br><br>

<h4> Customer? </h4>
<%= @organization.customer %> 